* {
  font-family: 'Cabin', 'Noto Sans KR', sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}

.form, 
.greetings {
  display: none;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  top: 0;
  left: 0;
}

.showing {
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.9s linear;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
 to {
   opacity: 1;
 }
}


.js-greetings {
  font-size: 3.5em;
  font-weight: 500;
}

.js-clock {
  font-size: 5em;

}

.js-toDoForm input, .js-form input {
  background-color: transparent;
  border: none;
  font-size:1.8em;
  color:white;
  margin-bottom: 20px;
}

.js-toDoForm input::placeholder, .js-form input::placeholder {
  color:white;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}


image {
  opacity: 0.5;
}

li span {
  font-family: 'Cabin', sans-serif;
  font-size: 1.8em;
  line-height: 40px;
  margin-left: -30px;
}

.js-weather {
  font-size: 2em;
}

ul {
  list-style-type:none;
}

.js-toDoList li button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.js-form input, .js-toDoForm input{
  padding: 3px;
  border-bottom: 3px solid white;
}

h4 {
  margin: 30px 0px;
}

.js-clock {
  margin-top: -15px;
}

.js-weather {
  position: absolute;
  top: 5px;
  right: 18px;
}

.creator {
  position: absolute;
  top: 55px;
  right: 18px;
}

.js-title {
  margin-top: 150px;
  margin-bottom: 40px;
}